/*
font-family: 'UnifrakturMaguntia', cursive;
font-family: 'IM Fell English', serif;

$richBlack: rgba(17, 13, 13, 1);
$spanishCarmine: rgba(193, 1, 69, 1);
$nickel: rgba(109, 116, 117, 1);
$pearlAqua: rgba(126, 214, 186, 1);
$glitter: rgba(234, 235, 242, 1);
*/

body {
    /*padding-top: 70px;*/
    max-width: 2000px;
    margin: auto;
    background-color: black;
    background-color: rgba(17, 13, 13, 1);
    color: lightGrey;
    color: rgba(234, 235, 242, 1);
}

nav {
  position: fixed;
}

h1,
h2,
h3 {
  font-family: 'UnifrakturMaguntia';
  letter-spacing: .1em;
}

nav,
p {
  font-family: 'IM Fell English', serif;
}

.container {
  max-width: 970px;
}

.jumbotron {
    background-image: url("../img/dark_embroidery.png");
    background-position: center;
    background-repeat: repeat;
    /*margin-bottom: 1em;*/
  }

.jumbotron
small {
  color: rgba(193, 1, 69, 1);
}

.thumbnailRibbon {
  margin-top: -4em;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.img-thumbnail {
  border-radius: 0px;
  background-color: rgba(17, 13, 13, 1);
}

.artist {
  margin-top: 3em;
  font-size: 1.5em;
}

.address {
  font-size: 2em;
}

.address
p {
  max-width: 320px;
  margin: auto;
}

.map {
    margin: auto;
    width: 320px;
}

.NextEventRibbon {
  background-color: rgba(193, 1, 69, 1);
  color: rgba(17, 13, 13, 1);
  margin-top: 3em;
  margin-bottom: 3em;
}

.NextEventRibbon
small {
  font-family: 'IM Fell English', serif;
  color: rgba(234, 235, 242, 1);
}
